:root {
  /* Updated Colors */
  --bg-color: #f9fbfd;
  --card-bg-color: #ffffff;
  --text-color: #333;
  --text-secondary-color: #757575;
  --border-color: #d0d3d8;
  --primary-color: linear-gradient(45deg, #1877f2, #33a2ff);
  --primary-hover-color: #4893ff;
  --sidebar-bg-color: #ffffff;
  --sidebar-hover-bg-color: #eaf2ff;
  --sidebar-active-bg-color: #d6e5ff;
}

.dark-mode {
  --bg-color: #151316;
  --card-bg-color: #1f1d21;
  --text-color: #e4e6eb;
  --text-secondary-color: #b0b3b8;
  --border-color: #3e4042;
  --primary-color: linear-gradient(45deg, #2663b4, #3f81ff);
  --primary-hover-color: #66a3ff;
  --sidebar-bg-color: #242526;
  --sidebar-hover-bg-color: #3a3b3c;
  --sidebar-active-bg-color: #4e4f50;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-card, .dashboard-card {
  background: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn, .add-project-button {
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.submit-btn:hover, .add-project-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(24, 119, 242, 0.4);
}

.sidebar-button {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: var(--text-color);
  transition: background-color 0.3s ease, transform 0.2s;
}

.sidebar-button:hover {
  background-color: var(--sidebar-hover-bg-color);
  transform: translateX(5px);
}

.project-card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.close-button {
  font-size: 24px;
  color: var(--primary-hover-color);
  transition: color 0.3s;
}

.close-button:hover {
  color: var(--primary-color);
}
